.Notification {
  width: 90%;
  margin: 0 auto;
  padding: 10px 15px;
  box-sizing: border-box;

  &.info {
    background: #fff2b8;
    box-shadow: 3px 0 0 0 darken(#fff2b8, 20%) inset;
  }

  &.warning {
    background: #e4ac62;
    box-shadow: 3px 0 0 0 darken(#e4ac62, 20%) inset;
  }

  &.error {
    background: #f86552;
    box-shadow: 3px 0 0 0 darken(#f86552, 20%) inset;
  }

  &.success {
    background: #4ecc63;
    box-shadow: 3px 0 0 0 darken(#4ecc63, 20%) inset;
  }

  h4 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.1em;
  }
}
