<section id="dashboard" ng-class="{active:mctrl.ui.panel.isActive('dashboard')}">
  <!-- <div class="sharethis-inline-share-buttons"></div> -->
  <!--
  <h2>What would you like to do?</h2>

  <div id="tiles">
    <button>
      <span class="icon-sequencer"></span>
      <label>create sequence</label>
    </button>
    <button>
      <span class="icon-piano"></span>
      <label>play music</label>
    </button>
    <button>
      <span class="icon-ear"></span>
      <label>train your ears</label>
    </button>
    <button>
      <span class="icon-tuning-fork"></span>
      <label>create a tuning</label>
    </button>
    <button>
      <span class="icon-normalise"></span>
      <label>convert ratios or cents</label>
    </button>
    <button>
      <span class="icon-good"></span>
      <label>give feedback</label>
    </button>
  </div>
  -->
</section>