<footer>
  <table>
    <tr>
      <td width="40" ng-hide="!mctrl.ui.panel.isActive('scale-designer')">
        <button title="Add a new set" type="button" class="icon-add" mobile-click="mctrl.ui.model.addSet()"></button>
      </td>
      <td ng-hide="!mctrl.ui.panel.isActive('scale-designer')">
        <label class="selectwrapper">
          <select ng-options="item.type as item.label for item in mctrl.ui.model.getSetTypes()" ng-model="ui.model.newSetType"></select>
        </label>
      </td>
    </tr>
  </table>
</footer>
