<header>
  <table class="full">
    <tr>
      <td width="80">
        <button type="button" class="icon-cog" ng-class="{active:mctrl.ui.panel.isActive('settings')}" mobile-click="mctrl.ui.panel.toggle('settings')">
          <span class="label">toggle settings</span>
        </button>
      </td>
      <td width="220">
        <button type="button" class="icon-tuning-fork" ng-class="{active:mctrl.ui.panel.isActive('scale-designer')}" mobile-click="mctrl.ui.panel.toggle('scale-designer')">
          <span class="label">scale designer</span>
        </button>
        <button type="button" class="icon-scala" ng-class="{active:mctrl.ui.panel.isActive('scala')}" mobile-click="mctrl.ui.panel.toggle('scala')">
          <span class="label single-line">import</span>
        </button>

        <button type="button" class="icon-piano" ng-class="{active:mctrl.ui.panel.isActive('piano')}" mobile-click="mctrl.ui.panel.toggle('piano')">
          <span class="label">on-screen keyboard</span>
        </button>

        <button type="button" class="icon-midi" ng-class="{disabled:!ui.midi.status.supported, active:mctrl.ui.panel.isActive('midi-info')}" mobile-click="ui.midi.status.supported &amp;&amp; mctrl.ui.panel.toggle('midi-info')">
          <span class="label">MIDI settings</span>
        </button>
      </td>

      <td><input id="scaleName" class="right hide-if-screen-is-narrow" type="text" placeholder="Unnamed Scale" ng-model="name" ng-focus="mctrl.ui.scala.exportSessionToEditor()" /></td>
    </tr>
  </table>
</header>
