<div id="loading" ng-class="{fading:loadingState === 'fadeout', hidden:loadingState === 'loaded'}" mobile-click="loadingState = loadingState === 'fadeout' ? 'loaded' : loadingState">
  <div class="logo">
    <h1>The Monochord</h1>
    <div>
      <%= seo.splash %>
    </div>
  </div>
</div>