{{_element = ui.model.selectedElement;''}}

<section id="scale-designer" ng-class="{active:mctrl.ui.panel.isActive('scale-designer')}" mobile-click="mctrl.ui.model.clearSelection()">
  <ul class="actions" ng-hide="sets.length === 0">
    <li class="hide-if-screen-is-narrow">
      <button
        title="Halve values of all elements in set"
        type="button"
        class="icon-halve"
        ng-disabled="!mctrl.ui.model.canHalve()"
        mobile-click="mctrl.ui.model.halve();$event.stopPropagation()"
      ></button>
    </li>
    <li>
      <button
        title="Lower values of all elements in set"
        type="button"
        class="icon-decrease"
        ng-disabled="!mctrl.ui.model.canLower()"
        hold-click="mctrl.ui.model.lower()"
        mobile-click="$event.stopPropagation()"
      ></button>
    </li>
    <li>
      <button
        title="Raise values of all elements in set"
        type="button"
        class="icon-increase"
        ng-disabled="!mctrl.ui.model.canRaise()"
        hold-click="mctrl.ui.model.raise()"
        mobile-click="$event.stopPropagation()"
      ></button>
    </li>
    <li class="hide-if-screen-is-narrow">
      <button
        title="Double values of all elements in set"
        type="button"
        class="icon-double"
        ng-disabled="!mctrl.ui.model.canDouble()"
        mobile-click="mctrl.ui.model.double();$event.stopPropagation()"
      ></button>
    </li>
    <li class="hide-if-screen-is-narrow">
      <button
        title="Normalize values of all elements in set (simplify ratios)"
        type="button"
        class="icon-normalize"
        ng-disabled="!mctrl.ui.model.canNormalize()"
        mobile-click="mctrl.ui.model.normalize();$event.stopPropagation()"
      ></button>
    </li>
    <li>
      <button
        title="Mute/unmute the whole set"
        type="button"
        ng-class="{'icon-speaker-on': !mctrl.ui.model.isAllSelectionMuted(), 'icon-speaker-off': mctrl.ui.model.isAllSelectionMuted()}"
        ng-disabled="!mctrl.ui.model.hasSelectedPitches()"
        mobile-click="mctrl.ui.model.toggleSelectionMuted();$event.stopPropagation()"
      ></button>
    </li>
    <li class="separator"></li>
    <li>
      <button
        title="Add a new element to the set"
        type="button"
        class="icon-add"
        ng-disabled="!mctrl.ui.model.hasSelectedPitches()"
        mobile-click="mctrl.ui.model.addElement();$event.stopPropagation()"
      ></button>
    </li>
    <li id="duplicate-set">
      <button
        title="Duplicate selected set"
        type="button"
        class="icon-copy"
        ng-disabled="!mctrl.ui.model.hasSelectedPitches()"
        mobile-click="mctrl.ui.model.copySet()"
      ></button>
    </li>
    <li>
      <button
        title="Move selected set down"
        type="button"
        class="icon-decrease"
        ng-disabled="!mctrl.ui.model.canMoveDownSet()"
        mobile-click="mctrl.ui.model.moveDownSet()"
      ></button>
    </li>
    <li>
      <button
        title="Move selected set up"
        type="button"
        class="icon-increase"
        ng-disabled="!mctrl.ui.model.canMoveUpSet()"
        mobile-click="mctrl.ui.model.moveUpSet()"
      ></button>
    </li>
    <li>
      <button
        title="Remove the whole set"
        type="button"
        class="icon-delete"
        ng-disabled="!mctrl.ui.model.hasSelectedPitches()"
        mobile-click="mctrl.ui.model.deleteSelectedPitches();$event.stopPropagation()"
      ></button>
    </li>
  </ul>

  <div class="fab">
    <button class="main icon-add" ng-class="{active: ui.model.isAddSetFabActive}" mobile-click="mctrl.ui.model.toggleAddSetFab()"></button>

    <div class="sub" ng-show="ui.model.isAddSetFabActive">
      <button mobile-click="mctrl.ui.model.addSet('harmonics')">JI</button>
      <button mobile-click="mctrl.ui.model.addSet('cent')">¢</button>
    </div>
  </div>

  <table id="sets" ng-show="sets.length">
    <tr ng-repeat="set in sets track by $index">
      <td width="40" class="center smaller" ng-class="{highlighted : mctrl.ui.model.isPitchSelected($index), even : $index % 2 === 1, odd : $index % 2 === 0}">
        {{$index + 1}}
      </td>
      
      <td class="ulreset" ng-class="{highlighted : mctrl.ui.model.isPitchSelected($index), even : $index % 2 === 1, odd : $index % 2 === 0}" mobile-click="mctrl.ui.model.selectSet($index)">
        {{elementSelected = _element &amp;&amp; _element.id > 0 &amp;&amp; (set.strings.indexOf(_element) !== -1 || set.cents.indexOf(_element) !== -1);''}}
        {{elementSelectedIsString = set.strings.indexOf(_element) !== -1;''}}
        <div class="scale-row">
          <ul class="fright element" ng-if="elementSelected">
            <li><button title="Lower element" type="button" class="icon-remove" ng-class="mctrl.ui.model.canLowerElement(_element) ? '' : 'disabled'" hold-click="mctrl.ui.model.lowerElement(_element)" mobile-click="$event.stopPropagation()"></button></li>
            <li><button title="Raise element" type="button" class="icon-add" ng-class="mctrl.ui.model.canRaiseElement(_element) ? '' : 'disabled'" hold-click="mctrl.ui.model.raiseElement(_element)" mobile-click="$event.stopPropagation()"></button></li>
            <li><input autosize type="number" min="{{mctrl.ui.model['lowest' + (elementSelectedIsString ? 'Harmonic' : 'Cent')]}}" max="{{mctrl.ui.model['highest' + (elementSelectedIsString ? 'Harmonic' : 'Cent')]}}" ng-model="_element.multiplier" mobile-click="$event.stopPropagation()" step="{{elementSelectedIsString ? 1 : 0.01}}" /></li>
            <li><button title="Mute/unmute element" type="button" ng-class="'icon-speaker-o' + (_element.muted ? 'ff' : 'n')" mobile-click="_element.muted = !_element.muted;$event.stopPropagation()"></button></li>
            <li><button title="Remove element" type="button" class="icon-delete" mobile-click="mctrl.ui.model.removeElement(_element);$event.stopPropagation()"></button></li>
          </ul>

          <ul class="railed">
            <li class="hide-if-screen-is-narrow">
              <button title="Mute/unmute the whole set" type="button" class="set-selector" ng-class="{on : !set.muted}" mobile-click="set.muted = !set.muted;$event.stopPropagation()"></button>
            </li>
            <li>
              <input type="text" ng-model="set.label.alphabetical" class="centered" />
            </li>
            <li ng-repeat="string in set.strings" mobile-click="mctrl.ui.model.toggleSelectedElement(string);$event.stopPropagation()">
              <button title="Edit properties of this harmonic element" type="button" class="element string" autosize ng-class="{active : _element.id === string.id, muted : string.muted}">
                <span ng-if="displayMode === 'normal' || displayMode === 'pitches' || displayMode === 'alphabetical'">{{string.multiplier}}</span>
                <span class="smaller" ng-if="displayMode === 'frequency'">{{mctrl.ui.calculateStringFrequency(string) | number:2}} Hz</span>
                <span class="smaller" ng-if="displayMode === 'cents'">{{mctrl.ui.stringToCent(string)}} ¢</span>
              </button>
            </li>
            <li ng-repeat="cent in set.cents" mobile-click="mctrl.ui.model.toggleSelectedElement(cent);$event.stopPropagation()">
              <button title="Edit properties of this cent element" type="button" class="element cent" autosize ng-class="{active : _element.id === cent.id, muted : cent.muted}">
                <span class="smaller" ng-if="displayMode === 'normal' || displayMode === 'cents' || displayMode === 'pitches' || displayMode === 'alphabetical'">{{cent.multiplier}} ¢</span>
                <span class="smaller" ng-if="displayMode === 'frequency'">{{mctrl.ui.calculateCentFrequency(cent) | number:2}} Hz</span>
              </button>
            </li>
          </ul>

          <span class="interval-name">{{mctrl.ui.model.getIntervalName(set)}}</span>
        </div>
      </td>
    </tr>
  </table>
</section>
