<aside id="menu" ng-class="{active:mctrl.ui.panel.isActive('menu')}">
  <table id="enable-audio" ng-class="{disabled:!mctrl.ui.model.webAudioSupported}">
    <tr>
      <td width="140">Audio</td>
      <td>
        <button type="button" ng-disabled="!mctrl.ui.model.webAudioSupported || mctrl.ui.model.isAudioEnabled()" mobile-click="mctrl.ui.model.enableAudio()">{{mctrl.ui.model.isAudioEnabled() ? 'on' : 'off'}}</button>
      </td>
    </tr>
  </table>
  <table id="master-volume">
    <tr>
      <td width="140">Master volume</td>
      <td class="vmiddle"><input type="range" min="0" max="100" ng-model="baseVolume" /></td>
      <td width="35" class="right">{{baseVolume}}</td>
      <td width="40" class="center">
        <button title="Mute/unmute master volume" type="button" mobile-click="mctrl.ui.model.toggleBaseVolume()" ng-class="'icon-speaker-o' + (baseVolume > 0 ? 'n' : 'ff')"></button>
      </td>
    </tr>
  </table>
  <table id="base-frequency">
    <tr>
      <td width="130">Base frequency</td>
      <td width="40"><button title="Decrease fundamental frequency" type="button" class="icon-remove" hold-click="mctrl.ui.model.decreaseBaseFrequency()" ng-class="{disabled:!mctrl.ui.model.canDecreaseBaseFrequency()}"></button></td>
      <td width="40"><button title="Increase fundamental frequency" type="button" class="icon-add" hold-click="mctrl.ui.model.increaseBaseFrequency()" ng-class="{disabled:!mctrl.ui.model.canIncreaseBaseFrequency()}"></button></td>
      <td><input class="right" type="number" min="0" max="1000" ng-model="baseFrequency" /></td>
      <td width="40" class="center">Hz</td>
    </tr>
  </table>
  <table class="hide-if-screen-is-narrow">
    <tr>
      <td width="140">&nbsp;└─ Randomize</td>
      <td><input class="right" type="number" min="0" max="1000" ng-model="ui.model.bfRandomParams.limit.lower" /></td>
      <td width="40" class="center">..</td>
      <td><input type="number" min="0" max="1000" ng-model="ui.model.bfRandomParams.limit.upper" /></td>
      <td width="40"><button title="Randomize fundamental frequency" type="button" class="icon-dice" hold-click="mctrl.ui.model.randomizeBaseFrequency()|10"></button></td>
    </tr>
  </table>
  <table id="retune-method" ng-class="{disabled:playbackMode === 'piano'}">
    <tr>
      <td width="140">Retune method</td>
      <td>
        <label class="selectwrapper" ng-class="{disabled:playbackMode === 'piano'}">
          <select ng-disabled="playbackMode === 'piano'" ng-options="item.method as item.label for item in mctrl.ui.model.getRetuneMethods()" ng-model="retune.default"></select>
        </label>
      </td>
    </tr>
  </table>
  <table id="display-mode">
    <tr>
      <td width="140">Display mode</td>
      <td>
        <label class="selectwrapper">
          <select ng-options="item for item in mctrl.ui.model.getDisplayModes()" ng-model="displayMode"></select>
        </label>
      </td>
    </tr>
  </table>

  <hr />

  <table id="waveform" ng-class={disabled:!mctrl.ui.model.isAudioEnabled()}>
    <tr>
      <td colspan="2">Synth options</td>
    </tr>
    <tr>
      <td width="140">&nbsp;├─ Waveform</td>
      <td>
        <label class="selectwrapper" ng-class={disabled:!mctrl.ui.model.isAudioEnabled()}>
          <select change-on-keypress ng-options="item for item in mctrl.ui.model.getwaveforms()" ng-model="waveform"></select>
        </label>
      </td>
    </tr>
  </table>
  <table ng-class="{disabled:playbackMode !== 'piano'}">
    <tr>
      <td width="140">&nbsp;├─ Voices</td>
      <td class="vmiddle"><input type="range" min="1" max="12" ng-model="synth.voices" ng-disabled="playbackMode !== 'piano'" /></td>
      <td width="35" class="right">{{synth.voices}}</td>
    </tr>
    <tr>
      <td width="140">&nbsp;└─ Note priority</td>
      <td>
        <label class="selectwrapper" ng-class="{disabled:playbackMode !== 'piano'}">
          <select change-on-keypress ng-options="item for item in ['low', 'last', 'high']" ng-model="synth.notePriority"></select>
        </label>
      </td>
    </tr>
  </table>

  <hr />

  <table>
    <tr>
      <td width="140">Theme</td>
      <td>
        <button autosize style="margin-right:10px" ng-class="{active: value === theme}" ng-repeat="value in themes" mobile-click="mctrl.setTheme(value)">{{value}}</button>
      </td>
    </tr>
    <tr>
      <td width="140">Language</td>
      <td>
        <button autosize style="margin-right:10px" ng-class="{active: key === language}" ng-repeat="(key, value) in languages" mobile-click="mctrl.setLanguage(key)">{{value}}</button>
      </td>
    </tr>
  </table>
</aside>
