<aside id="settings" ng-class="{active:mctrl.ui.panel.isActive('settings')}">
  <table ng-class="{disabled:!mctrl.ui.model.webAudioSupported}">
    <tr>
      <td width="140">Audio</td>
      <td>
        <button type="button" ng-disabled="!mctrl.ui.model.webAudioSupported || mctrl.ui.model.isAudioEnabled()" mobile-click="mctrl.ui.model.enableAudio()">{{mctrl.ui.model.isAudioEnabled() ? 'on' : 'off'}}</button>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td width="140">Master volume</td>
      <td class="vmiddle"><input type="range" min="0" max="100" ng-model="baseVolume" /></td>
      <td width="35" class="right">{{baseVolume}}</td>
      <td width="40" class="center">
        <button title="Mute/unmute master volume" type="button" mobile-click="mctrl.ui.model.toggleBaseVolume()" ng-class="'icon-speaker-o' + (baseVolume > 0 ? 'n' : 'ff')"></button>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td width="130">Base frequency</td>
      <td width="40"><button title="Decrease fundamental frequency" type="button" class="icon-remove" hold-click="mctrl.ui.model.decreaseBaseFrequency()" ng-class="{disabled:!mctrl.ui.model.canDecreaseBaseFrequency()}"></button></td>
      <td width="40"><button title="Increase fundamental frequency" type="button" class="icon-add" hold-click="mctrl.ui.model.increaseBaseFrequency()" ng-class="{disabled:!mctrl.ui.model.canIncreaseBaseFrequency()}"></button></td>
      <td><input class="right" type="number" min="0" max="1000" ng-model="baseFrequency" /></td>
      <td width="40" class="center">Hz</td>
    </tr>
  </table>
  <table class="hide-if-screen-is-narrow">
    <tr>
      <td width="140">&nbsp;└─ Randomize</td>
      <td><input class="right" type="number" min="0" max="1000" ng-model="ui.model.bfRandomParams.limit.lower" /></td>
      <td width="40" class="center">..</td>
      <td><input type="number" min="0" max="1000" ng-model="ui.model.bfRandomParams.limit.upper" /></td>
      <td width="40"><button title="Randomize fundamental frequency" type="button" class="icon-dice" hold-click="mctrl.ui.model.randomizeBaseFrequency()|10"></button></td>
    </tr>
  </table>
  <table ng-class="{disabled:playbackMode === 'piano'}">
    <tr>
      <td width="140">Retune method</td>
      <td>
        <label class="selectwrapper" ng-class="{disabled:playbackMode === 'piano'}">
          <select ng-disabled="playbackMode === 'piano'" ng-options="item.method as item.label for item in mctrl.ui.model.getRetuneMethods()" ng-model="retune.default"></select>
        </label>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td width="140">Display mode</td>
      <td>
        <label class="selectwrapper">
          <select ng-options="item for item in mctrl.ui.model.getDisplayModes()" ng-model="displayMode"></select>
        </label>
      </td>
    </tr>
  </table>

  <hr />

  <table ng-class={disabled:!mctrl.ui.model.isAudioEnabled()}>
    <tr>
      <td colspan="2">Synth options</td>
    </tr>
    <tr>
      <td width="140">&nbsp;├─ Waveform</td>
      <td>
        <label class="selectwrapper" ng-class={disabled:!mctrl.ui.model.isAudioEnabled()}>
          <select change-on-keypress ng-options="item for item in mctrl.ui.model.getwaveforms()" ng-model="waveform"></select>
        </label>
      </td>
    </tr>
  </table>
  <table ng-class="{disabled:playbackMode !== 'piano'}">
    <tr>
      <td width="140">&nbsp;├─ Voices</td>
      <td class="vmiddle"><input type="range" min="1" max="12" ng-model="synth.voices" ng-disabled="playbackMode !== 'piano'" /></td>
      <td width="35" class="right">{{synth.voices}}</td>
    </tr>
    <tr>
      <td width="140">&nbsp;└─ Note priority</td>
      <td>
        <label class="selectwrapper" ng-class="{disabled:playbackMode !== 'piano'}">
          <select change-on-keypress ng-options="item for item in ['low', 'last', 'high']" ng-model="synth.notePriority"></select>
        </label>
      </td>
    </tr>
  </table>

  <hr />

  <table>
    <tr>
      <td width="140">Theme</td>
      <td>
        <button autosize style="margin-right:10px" ng-class="{active: value === theme}" ng-repeat="value in themes" mobile-click="mctrl.setTheme(value)">{{value}}</button>
      </td>
    </tr>
    <!--
    <tr>
      <td width="140">Language</td>
      <td>
        <button autosize style="margin-right:10px" ng-class="{active: key === language}" ng-repeat="(key, value) in languages" mobile-click="mctrl.setLanguage(key)">{{value}}</button>
      </td>
    </tr>
    -->
  </table>

  <div id="bottom-links">
    <a href="https://github.com/the-monochord/the-monochord.com" target="_blank">
      <svg viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" transform="scale(64)" fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" />
      </svg>
      <span>Fork me on GitHub</span>
    </a>

    <a href="https://www.buymeacoffee.com/themonochord" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <path fill="currentColor" d="M9.197 0l-1.619 3.735h-2.407v3.359h0.921l0.943 5.975h-1.473l1.948 10.973 1.249-0.015 1.256 7.973h11.891l0.083-0.531 1.172-7.443 1.188 0.015 1.943-10.973h-1.407l0.937-5.975h1.011v-3.359h-2.557l-1.625-3.735zM9.901 1.073h12.057l1.025 2.375h-14.115zM6.235 4.803h19.525v1.228h-19.525zM6.839 14.136h18.183l-1.568 8.823-7.536-0.079-7.511 0.079z" />
      </svg>
      <span>Buy me a coffee</span>
    </a>
  </div>
</aside>
