:global .theme-light {
  @import './palette.scss';
  @import './ui-range.scss';
  @import './ui-select.scss';

  [disabled],
  .disabled {
    color: $disabled !important;
  }

  // ----- build ----- //

  background: $background;

  .wrapper {
    color: $color2;

    header {
      background: $background3;

      // https://stackoverflow.com/a/14205976/1806628
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        box-shadow: 0 0 0 50px $background3 inset !important;
      }

      td {
        background: $background3;
      }
    }
  }

  a.active {
    color: $active;
  }

  button.link,
  a[href] {
    color: $color;
  }

  h2,
  h3 {
    color: $color2;

    &.success {
      color: $good;
    }

    &.fail {
      color: $bad;
    }
  }

  #sets {
    td {
      background: $tableRowBgOdd;

      &.even {
        background: $tableRowBgEven;
      }

      &.highlighted {
        background: $tableRowBgHighlightedOdd;

        &.even {
          background: $tableRowBgHighlightedEven;
        }

        .interval-name {
          color: $background;
        }

        [disabled],
        .disabled {
          color: $highlightedDisabled !important;
        }
      }
    }
  }

  #scaleName {
    color: $color;

    &::-webkit-input-placeholder {
      color: fade($color, 50%);
    }

    &::-moz-placeholder {
      color: $color;
    }

    &:focus {
      color: $active;
    }
  }

  button,
  input[type="number"],
  input[type="text"] {
    color: $color;

    &:invalid {
      color: $bad;
    }

    &.active {
      color: $active;
    }
  }

  button {
    &.set-selector {
      &::before {
        box-shadow: 0 0 0 1px $color inset;
      }

      &.active {
        &:not([disabled])::before {
          box-shadow: 0 0 0 1px $active inset;
        }
      }

      &.on::before {
        background: $good;
      }
    }

    &.element {
      &::after {
        box-shadow: 0 0 0 1px $color2 inset;
        background: $good;
      }

      &[disabled]::after,
      &.disabled::after {
        box-shadow: 0 0 0 1px $disabled inset;
      }
    }
  }

  input[type="number"] :focus {
    color: $active;
  }

  // ------------------

  #piano {
    div {
      .key {
        border: 1px solid $color2;

        &.active {
          background: $pianoButtonActiveBg !important;
          color: $active !important;
          border-color: $active !important;

          &.record {
            background: $pianoButtonBadBg !important;
            color: $bad !important;
            border-color: $bad !important;
          }
        }

        &.muted {
          color: $disabled !important;
          border-color: $disabled;
        }

        &.highlighted {
          background: desaturate($pianoButtonActiveBg, 70%);
          color: desaturate($active, 70%);
          border-color: desaturate($active, 70%);
        }
      }
    }
  }

  .interval-name {
    color: $disabled;
  }

  h2.special {
    color: $active;
  }

  // -----------------

  // overriding sharethis design
  .st-btn[data-network] {
    color: $color2;
    border: 1px solid $color2;

    svg {
      fill: $color2;
    }

    .st-label {
      color: $color2 !important;
    }
  }

  header [class*="icon"].active {
    box-shadow: 0 3px 0 0 $active inset;
  }

  hr {
    background: $separator;
  }

  .has-hover {
    button:hover,
    a:hover {
      color: $active;
    }

    button {
      &.set-selector {
        &:hover {
          &:not([disabled])::before {
            box-shadow: 0 0 0 1px $active inset;
          }
        }
      }
    }

    #piano div button:hover {
      color: $color;
    }

    .st-btn[data-network] {
      &:hover {
        color: $color;
        border: 1px solid $color;

        svg {
          fill: $color;
        }

        .st-label {
          color: $color !important;
        }
      }
    }

    .labelled-button:hover {
      color: $active;
    }
  }

  #scale-designer {
    .actions .separator::before {
      background: $disabled;
    }

    .fab {
      button {
        background: $background;
        box-shadow: 0 0 0 1px $color inset;

        &:hover,
        &.active {
          box-shadow: 0 0 0 1px $active inset;
        }
      }
    }
  }

  #settings,
  #settings table td {
    background: $background2;
  }

  #settings #bottom-links {
    background: $background3;
  }
}
