@import '../../../../common/hsva.scss';

$background:                #fcfdff;
$background2:               darken($background, 4%);
$background3:               darken($background2, 3%);
$color:                     #313131;
$color2:                    #262829;
$disabled:                  #9bb0bb;

$active:                    #58b8fc;
$bad:                       red;
$good:                      #44e500;

$separator:                 $active;
$tableRowBgOdd:             $background;
$tableRowBgEven:            #d7fdfb;
$tableRowBgHighlightedOdd:  #add1ff;
$tableRowBgHighlightedEven: #7fb7ff;
$highlightedDisabled:       #4288aa;

$pianoButtonActiveBg:       rgba($active, 0.3);
$pianoButtonBadBg:          rgba($bad, 0.2);
