@import '../../../../common/hsva.scss';

$background:                #d1e0e0;
$background2:               darken($background, 7%);
$background3:               darken($background2, 7%);
$color:                     #0a2020;
$color2:                    #1d6363;
$disabled:                  #657a7a;

$active:                    #fff9f7;
$bad:                       red;
$good:                      #44e500;

$separator:                 $active;
$tableRowBgOdd:             #abc7c7;
$tableRowBgEven:            #b6d4d4;
$tableRowBgHighlightedOdd:  #679999;
$tableRowBgHighlightedEven: #79b3b3;
$highlightedDisabled:       #c2c1c1;

$pianoButtonActiveBg:       rgba($active, 0.3);
$pianoButtonBadBg:          rgba($bad, 0.2);
