@import '../../../../common/hsva.scss';

$background:                #d2e9e9;
$background2:               darken($background, 6%);
$background3:               darken($background2, 6%);
$color:                     #0a2020;
$color2:                    #1d6363;
$disabled:                  #657a7a;

$active:                    #976000;
$bad:                       red;
$good:                      #44e500;

$separator:                 $disabled;
$tableRowBgOdd:             $background2;
$tableRowBgEven:            $background3;
$tableRowBgHighlightedOdd:  darken($background2, 20%);
$tableRowBgHighlightedEven: darken($background3, 20%);
$highlightedDisabled:       #c2c1c1;

$pianoButtonActiveBg:       rgba($active, 0.3);
$pianoButtonBadBg:          rgba($bad, 0.2);
