<%- include('../partials/head') %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" />
  <link rel="stylesheet" href="<%= path.static %>/css/monochord.min.css" />
</head>
<body class="theme-<%= theme %>">
  <div class="wrapper">
    <h2 class="special">Thank you very much for your donation!</h2>
    <br />
    The project came a long way since the first proof of concept on the 15th of August, 2015.<br />
    <br />
    I sincerly hope, that The Monochord is useful to you and that it can show you sounds, that you've never heard before.<br />
    <br />
    Finally, I hope that you'll have great fun experimenting with all the settings and options in the app.<br />
    <br />
    Your donation is much appreciated, so again: thank you very much!<br />
    <br />
    Best wishes:<br />
    Lajos Mészáros
  </div>
  <%- include('../partials/page-end') %>
</body>
</html>