@import '../../../../common/hsva.scss';

$background:                #0b0c0b;
$background2:               lighten($background, 4%);
$background3:               lighten($background2, 3%);
$color:                     #ebf8f7;
$color2:                    #bcc6c5;
$disabled:                  #3f4f51;

$active:                    #ff1f31;
$bad:                       red;
$good:                      #1d9c04;

$separator:                 $disabled;
$tableRowBgOdd:             #1b1b1b;
$tableRowBgEven:            #131010;
$tableRowBgHighlightedOdd:  #243547;
$tableRowBgHighlightedEven: #334659;
$highlightedDisabled:       #434b4c;

$pianoButtonActiveBg:       rgba($active, 0.3);
$pianoButtonBadBg:          rgba($bad, 0.2);
